<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>

  <script src="js/jquery.min.js" type="text/javascript"></script>
  <script src="js/moment.js" type="text/javascript"></script>
  <script src="js/index.js" type="text/javascript"></script>

  <script src="js/react-with-addons-0.8.0.js"></script>
  <script src="js/JSXTransformer-0.8.0.js"></script>

  <link rel="stylesheet" href="css/index.css">

</head>
<body>

  <div id="contain">
    <h1 class="title"><%= title %></h1>

    <div class="now">
      <div id="time"></div>
      <div id="date"></div>
    </div>

    <div id="content"></div>

  </div>

  <div id="overlay">
    <button id="fullscreen">Fullscreen (f)</button>
    <script type="text/javascript">
      window.addEventListener('mozfullscreenchange', function() {
        var button = document.querySelector('#fullscreen');
        if (isFullScreen) {
          button.textContent = 'Leave Fullscreen (f)';
        } else {
          button.textContent = 'Fullscreen (f)';
        }
      });
    </script>
  </div>


  <script type="text/jsx">
    /**
     * @jsx React.DOM
     */
    // The above declaration must remain intact at the top of the script.
    // Your code here
    var BUSY_FUZZ = 5;

    var Dudes = React.createClass({
      render : function () {
        var dudes = new Array(this.props.size);
        for (var i = 0; i < this.props.size; i += 1) {
          dudes.push(<span key={i} className='fa fa-user' aria-hidden="true"></span>);
        }
        var capacity = new Array("small", "medium", "large");
        return (
          <div className="size">{dudes} <span className="offscreen">{capacity[this.props.size]}</span></div>
        );
      }
    });
    var Room = React.createClass({
      freebusy: function() {
        var now = moment();
        var isBusy = false,
            willBeBusy = false,
            moreThanOneHour = true,
            withInFuzzOfEnd = false,
            withInFuzzOfStart = false,
            fbs = this.props.room.freebusy.sort(function (a, b) { return moment(a.end) > moment(b.end); });

        var text = "", when = "";
        var fb = fbs.find(function (fb) { return now.isBefore(fb.end); });

        if (fb) {
          willBeBusy = (now.isBefore(fb.end));
          isBusy = (now.isAfter(fb.start) && willBeBusy);
          moreThanOneHour = (moment(fb.end).diff() > 60 * 60 * 1000),
          withInFuzzOfEnd = (moment(fb.end).diff() < BUSY_FUZZ * 60 * 1000),
          withInFuzzOfStart = (moment(fb.start).diff() < BUSY_FUZZ * 60 * 1000);


          if (isBusy) {
            text = "free";
            when = (moreThanOneHour) ? moment(fb.end).format('h:mma') : moment(fb.end).fromNow();
          } else if (willBeBusy) {
            text = "booked";
            when = (moreThanOneHour) ? moment(fb.start).format('h:mma') : moment(fb.start).fromNow();
          }
          text += (moreThanOneHour) ? " at " : " in ";

        } else {
          isBusy = false
        }

        var cxs = {
          'room' : true,
          'room-vidyo' : this.props.room.vidyo,
          'room-free' : (!isBusy),
          'room-busy' : isBusy,
          'room-free-soon' : (isBusy && withInFuzzOfEnd),
          'room-busy-soon' : (!isBusy && withInFuzzOfStart),
          'room-busy-later' : (!isBusy && willBeBusy)
        };
        cxs['room-neighborhood-' + this.props.room.neighborhood] = true;
        cxs['room-size-' + this.props.room.size] = true;
        return { classes : React.addons.classSet(cxs), text : text, when : when };
      },
      render : function () {

        if (!this.props.room) {
          return <div/>;
        }

        var freebusy = this.freebusy();

        var roomClasses =  freebusy.classes;
        var roomNameClass = this.props.room.name;
        roomNameClass = roomNameClass.replace(/\s+/g, '');
        roomNameClass = roomNameClass.toLowerCase();
        roomClasses += ' ' + roomNameClass;

        return (

          <article className={roomClasses}>
            <div className="info">
              <h2 className="name">{this.props.room.name}</h2>
              <div className="check">
                <span className="fa fa-check" aria-hidden="true"></span>
              </div>
            </div>
            <div className="attrs">
              <div className="fb">
                <span className="fb-text">{freebusy.text}</span>
                <span className="fb-when">{freebusy.when}</span>
              </div>
              <Dudes size={this.props.room.size} />
              <div className="vidyo">
                  <span className={(this.props.room.vidyo) ? 'fa fa-video-camera ' : ''} aria-hidden="true"></span>
                  <span className="offscreen">{(this.props.room.vidyo) ? 'Vidyo Support' : ''}</span>
              </div>
            </div>
          </article>
        );
      }
    });
    var Rooms = React.createClass({
      loadRoomsFromServer: function() {
        $.ajax({
          url: "/api/rooms",
          success: function(data) {
            this.setState(data);
          }.bind(this)
        });
      },
      getInitialState: function() {
        return { rooms : [] };
      },
      componentWillMount: function() {
        this.loadRoomsFromServer();
        setInterval(this.loadRoomsFromServer, 60 * 1000);
      },
      render: function() {
        var findRoom = function(id) {
          return this.state.rooms.find(function (room) { return room.id == id; });
        }.bind(this);

        return (
          <div className="rooms">

            <Room room={findRoom("2a")} />
            <Room room={findRoom("2b")} />

            <Room room={findRoom("2c")} />
            <Room room={findRoom("2e")} />

            <Room room={findRoom("commons")} />

            <Room room={findRoom("2d")} />
            <Room room={findRoom("2f")} />

            <Room room={findRoom("2g")} />
            <Room room={findRoom("2h")} />

          </div>
        );
      }
    });
    React.initializeTouchEvents(true);
    triggerLayout();

    function triggerLayout() {
      React.renderComponent(
        <Rooms />,
        document.getElementById('content')
      );
    }
  </script>
</body>
</html>
