<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name=viewport content="width=device-width, initial-scale=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>

  <script src="js/jquery.min.js" type="text/javascript"></script>
  <script src="js/moment.js" type="text/javascript"></script>
  <script src="js/index.js" type="text/javascript"></script>

  <script src="js/react-with-addons-0.8.0.js"></script>
  <script src="js/JSXTransformer-0.8.0.js"></script>

  <link rel="stylesheet" href="css/index.css">

</head>
<body>

  <div class="container-fluid">

    <h2 class="pull-left"><%= title %></h2>
    <h2 class="pull-right" id="date"></h2>

    <div class="clearfix"></div>

    <div id="content"></div>

  </div>

  <script type="text/jsx">
    /**
     * @jsx React.DOM
     */
    // The above declaration must remain intact at the top of the script.
    // Your code here

    var RoomMixin = {
      freebusy: function() {
        var now = moment();
        var isBusy = false,
            willBeBusy = false,
            moreThanOneHour = true;

        var text = "", when = "";
        var fb = this.props.room.freebusy.find(function (fb) { return now.isBefore(fb.end); });

        if (fb) {
          willBeBusy = (now.isBefore(fb.end));
          isBusy = (now.isAfter(fb.start) && willBeBusy);
          moreThanOneHour = (moment(fb.end).diff() > 60 * 60 * 1000);

          when = (moreThanOneHour) ? moment(fb.end).format('h:mma') : moment(fb.end).fromNow();

          if (isBusy) {
            text = "free";
          } else if (willBeBusy) {
            text = "booked";
          }
          text += (moreThanOneHour) ? " at" : " in";

        } else {
          isBusy = false
        }

        var cxs = {
          'room' : true,
          'room-vidyo' : this.props.room.vidyo,
          'room-free' : (!isBusy),
          'room-busy' : isBusy,
          'room-free-soon' : (isBusy && !moreThanOneHour),
          'room-busy-soon' : (!isBusy && !moreThanOneHour)
        };
        cxs['room-neighborhood-' + this.props.room.neighborhood] = true;
        cxs['room-size-' + this.props.room.size] = true;
        return { classes : React.addons.classSet(cxs), text : text, when : when };
      }
    };
    var Dudes = React.createClass({
      render : function () {
        var dudes = new Array(this.props.size);
        for (var i = 0; i < this.props.size; i += 1) {
          dudes.push(<span key={i} className='glyphicon glyphicon-user pull-right'></span>);
        }
        return (
          <span className="dudes">{dudes}</span>
        );
      }
    });
    var Room = React.createClass({
      mixins: [RoomMixin], // Use the mixin
      render : function () {

        if (!this.props.room) {
          return <div/>;
        }

        var freebusy = this.freebusy();

        return (
          <div className={freebusy.classes}>
            <div className="name">{this.props.room.name}</div>
            <div className="attrs clearfix">
              <Dudes size={this.props.room.size} />
              <span className={(this.props.room.vidyo) ? 'glyphicon glyphicon-facetime-video' : ''} ></span>
            </div>
            <span className="glyphicon glyphicon-ok"></span>
            <div className="fb">
              <div>{freebusy.text}</div>
              <div>{freebusy.when}</div>
            </div>
          </div>
        );
      }
    });
    var Rooms = React.createClass({
      loadRoomsFromServer: function() {
        $.ajax({
          url: "/api/rooms",
          success: function(data) {
            this.setState(data);
          }.bind(this)
        });
      },
      getInitialState: function() {
        return { fuzz : 15, rooms : [] };
      },
      componentWillMount: function() {
        this.loadRoomsFromServer();
        setInterval(this.loadRoomsFromServer, 60 * 1000);
      },
      render: function() {
        var BUSY_FUZZ = 15;

        var findRoom = function(id) {
          return this.state.rooms.find(function (room) { return room.id == id; });
        }.bind(this);

        return (
          <div className="row">
            <div className="col-md-2">
              <Room fuzz={BUSY_FUZZ} room={findRoom("2a")} />
              <Room fuzz={BUSY_FUZZ} room={findRoom("2b")} />
            </div>
            <div className="col-md-2">
              <Room fuzz={BUSY_FUZZ} room={findRoom("2c")} />
              <Room fuzz={BUSY_FUZZ} room={findRoom("2e")} />
            </div>
            <div className="col-md-2">
              <Room fuzz={BUSY_FUZZ} room={findRoom("commons")} />
            </div>
            <div className="col-md-2">
              <Room fuzz={BUSY_FUZZ} room={findRoom("2d")} />
              <Room fuzz={BUSY_FUZZ} room={findRoom("2f")} />
            </div>
            <div className="col-md-2">
              <Room fuzz={BUSY_FUZZ} room={findRoom("2g")} />
              <Room fuzz={BUSY_FUZZ} room={findRoom("2h")} />
            </div>
          </div>
        );
      }
    });
    React.initializeTouchEvents(true);
    React.renderComponent(
      <Rooms />,
      document.getElementById('content')
    );
  </script>
</body>
</html>
