body {
  margin: auto;
  text-align: center;
  font: 18pt Open Sans, Arial, sans-serif;
  color: #333;
  background-color: #315B8C; /* #1A3C65; */
}
h2, h5 {
  font-weight: 100;
  margin: 8pt;
}
h2 {
  color: #ccc;
}
h5 {
  color: #eee;
}

.column {
  width: 192pt;
  display: inline-block;
  vertical-align: top;
}

.room {
  position: relative;
  display: inline-block;
  width: 192pt;
  height: 36pt;
  margin: 4pt;
  text-align: left;
  font-variant: small-caps;
  background-color: #fff;
}
.busy .room {
  background-color: #eee;
}
.almostFree .room {
  background-color: #FBFE00;
  height: 48pt;
}
.free .room {
  background-color: #9FEE00;
  height: 48pt;
}

.room .name {
  margin: 4pt;
}

.room .fb {
  font-size: 12pt;
  color: #666;
  float: right;
  display: inline-block;
  margin: 4pt;
}
