@import url("bootstrap.min.css");

body {
  font: 18pt Open Sans, Arial, sans-serif;
  color: #333;
  background-color: #315B8C; /* #1A3C65; */
}
h2, h5 {
  font-weight: 100;
  margin: 8pt 0;
}
h2 {
  color: #ccc;
}

.room {
  position: relative;
  width: 100%;
  height: 30pt;
  margin: 4pt 0;
  text-align: left;
  font-variant: small-caps;
  background-color: #fff;
}
.busy .room {
  background-color: #eee;
}
.almostFree .room {
  background-color: #FBFE00;
  height: 48pt;
}
.free .room {
  background-color: #9FEE00;
  height: 48pt;
}

.room .name {
  margin: 4pt;
}
.room.medium {
}
.room.large {
}

.room .fb {
  font-size: 12pt;
  color: #666;
  float: right;
  display: inline-block;
  margin: 4pt;
}
