@import url("bootstrap.min.css");

@font-face {
  font-family: "Clear Sans";
  src: url("../fonts/ClearSans-Regular.ttf");
}

/* for small screens drop the sizes and margins */
@media (max-width: 768px) {
  h2 {
    margin: 16px 0;
    font-size: smaller;
  }
}

/* for large screens increase padding and font sizes */
@media (min-width: 992px) {
  body {
    padding: 48px 80px;
    margin: 0;
    font-size: 24px;
  }
}

@media (min-width: 1800px) {
  .room {
    font-weight: bold;
    font-size: 36px;
  }
}

body {
  font-family: "Clear Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #fff;
  background-color: #2F3A47;
}
h2 {
  color: #FAFAFA;
}

.room {
  position: relative;
  margin-bottom: 20px;
  padding: 10px;
  text-align: center;
  transition: background-color 0.5s ease;
}

.room .attrs {
  font-size: smaller;
  padding: 0 10px;
}

.room .name,
.room .glyphicon-ok {
  position: relative;
  display: block;
  text-align: center;
  top: 25%;
}

.room .glyphicon-ok {
  font-size: 48px;
}

.room.room-busy .glyphicon-ok,
.room.room-busy-soon .glyphicon-ok,
.room.room-busy-later .glyphicon-ok {
  display: none;
}

.room.room-neighborhood-central.room-size-3 {
  margin: 0 !important;
}

.room-size-1 {
  height: 256px;
}
.room-size-2 {
  height: 256px;
}
.room-size-3 {
  height: 532px;
}

.room-busy {
  background-color: #323232;
}
.room-free-soon {
  background-color: #94A1A0 !important;
}
.room-busy-soon {
  background-color: #EBC300 !important;
}
.room-busy-soon .name {
  color: #333 !important;
}
.room-free {
  background-color: #27B648;
}

.room .fb {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-top: 10px;
  font-size: 80%;
  background-color: rgba(0,0,0,0.2);
}

.room .fb > div {
  -moz-transition: height 600ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-transition: height 600ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: height 600ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: height 600ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  height: 1.5em;
}

.room .fb > div:empty {
  height: 0.5em;
}
