@import url('fa-yvr.css');

@font-face {
    font-family: 'Clear Sans';
    src: url('../fonts/ClearSans-Regular.ttf');
}

/* margin and padding are all in rems */

html {
    background-color: #2F3A47;
    color: #fff;
    font-size: 8px;
    font-family: 'Clear Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    height: 100%;
}

body {
    font-size: 2.4rem;
    height: 100%;
    margin: 0;
    text-align: center;
}

h1 {
    font-size: 2rem;
    font-weight: 500;
    margin: 0;
}

h2 {
    font-size: 2.2rem;
    margin: 0;
}

.offscreen { /* for removing items from the flow but keeping them accessabile to screen readers */
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
        width: 1px;
    overflow: hidden;
    position: absolute !important;
}

/* fill available viewport */
#contain {
    display: -webkit-flex;
    display: flex;
        -webkit-flex-direction: column;
                flex-direction: column;
        -webkit-align-items: stretch;
                align-items: stretch;
        -webkit-justify-content: center;
                justify-content: center;
    height: 100%;
        width: calc(100% - 4rem); /* 100% minus spacing */
    margin: 0 2rem;
}

.title,
.now,
#content {
    -webkit-flex-grow: 1;
            flex-grow: 1;
}

.now {
    display: -webkit-flex;
            display: flex;
        -webkit-flex-direction: row;
                flex-direction: row;
        -webkit-justify-content: space-between;
                justify-content: space-between;
    font-size: 2rem;
    font-weight: 500;
}

.room {
    font-size: 1.6rem;
    position: relative;
    transition: background-color 0.5s ease;
}

    .room-busy {
        background-color: #323232;
    }
    .room-free-soon {
        background-color: #94A1A0 !important;
    }
    .room-busy-soon {
        background-color: #EBC300 !important;
    }
        .room-busy-soon .name {
            color: #333 !important;
        }
    .room-free {
        background-color: #27B648;
    }

 /* name and check go on single line by default */
.info {
    display: -webkit-flex;
            display: flex;
        -webkit-align-items: center;
                align-items: center;
        -webkit-flex-grow: 100;
                flex-grow: 100;
        -webkit-justify-content: center;
                justify-content: center;
}

.name {
    display: inline-block;
}

.check {
    line-height: 1;
    position: relative;
        left: 0.3em; /* a bit of space to seperate it from the name */
    width: 0; /* don't want the check to be considered when centering name */
}

    /* don't show check if room busy */
    .room-busy .check,
    .room-busy-soon .check {
        display: none;
    }

.attrs {
    background-color: rgba(0, 0, 0, 0.2);
    display: -webkit-flex;
            display: flex;
        -webkit-flex-direction: row;
                flex-direction: row;
        -webkit-justify-content: space-between;
                justify-content: space-between;
}

.fb {
    -webkit-flex-direction: column;
            flex-direction: column;
        -webkit-align-items:flex-end;
                 align-items:flex-end;
        -webkit-flex-grow: 10;
                flex-grow: 10;
        -webkit-order: 2;
                order: 2;
    min-height: 2.8rem;
}

    .fb > div {
        -webkit-transition: height 600ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
           -moz-transition: height 600ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
             -o-transition: height 600ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
                transition: height 600ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }


.size,
.vidyo {
    display: -webkit-flex;
            display: flex;
        -webkit-align-items: flex-end;
                align-items: flex-end;
        -webkit-justify-content:center;
                justify-content:center;
    padding: 0.5rem;
    min-width: 1.5em;
}

.size {
    -webkit-order: 3;
            order: 3;
}

    .size .fa {
        margin-left: -0.2em;
    }

.vidyo {
    -webkit-order: 1;
            order: 1;
}


/*
Portrait
- rooms are sized using % but spaced using rems
======================================================= */

html {
    min-height: 40rem; /* just can't squeeze it into less than this */
}

.title {
    height: 3rem;
    display: -webkit-flex;
    display: flex;
        -webkit-justify-content:center;
                justify-content:center;
        -webkit-align-items: flex-start;
                align-items: flex-start;
        -webkit-order: 3;
        order: 3; /* drop the heading to the bottom */
}

.now {
    height: 3rem;
    display: -webkit-flex;
    display: flex;
        -webkit-align-items: flex-end;
                align-items: flex-end;
}

/* content should be as big as possible so rooms inside are as big as possible */
#content {
    display: -webkit-flex;
    display: flex;
        -webkit-align-items: stretch;
                align-items: stretch;
        -webkit-flex-grow: 1000;
                flex-grow: 1000;
    height: calc(100% - 3rem * 2 ); /* 100% minus height of .now and .title */
    margin: 0 -1rem;
}

.rooms {
    display: -webkit-flex;
    display: flex;
        -webkit-align-items: center;
                align-items: center;
        -webkit-flex-direction: row;
                flex-direction: row;
        -webkit-flex-wrap: wrap;
                flex-wrap: wrap;
        -webkit-flex-grow: 1;
                flex-grow: 1;
        -webkit-justify-content: space-around;
                justify-content: space-around;
    height: 100%;
        width: 100%;
}


.room {
    height: calc(100% / 5 - 2rem );
        width: calc(100% / 2 - 2rem);
    display: -webkit-flex;
    display: flex;
        -webkit-flex-direction: column;
                flex-direction: column;
        -webkit-justify-content: flex-end;
                justify-content: flex-end;
}


/* Whytecliff takes up two columns + center spacing */
.whytecliff {
    width: calc(100% - 2rem);
}

/* re-order rooms so landscape and portrait match the existing display order, only portrait needs this help */
@media (max-aspect-ratio: 999/1000) {

    .room.siwash { order: 1; }

    .room.deepcove { order: 2; }

    .room.buntzen { order: 3; }

    .room.crazyraven { order: 4; }

    .room.whytecliff { order: 5; }

    .room.lighthouse { order: 6; }

    .room.dinkypeak { order: 7; }

    .room.wreck { order: 8; }

    .room.adanac { order: 9; }

}

/*
Landscape
- overrides portrait
======================================================= */

@media (min-aspect-ratio: 1000/1000) {

    html {
        min-height: 30em;
    }

    .rooms {
        -webkit-flex-direction: column;
                flex-direction: column;
    }

    .room {
        height: calc(50% - 2rem);
        width: calc(100% / 5 - 2rem);
    }

    .whytecliff {
        height: calc(100% - 2rem);
    }

}

/*
Spread out as we gain the vertical space
======================================================= */

/*
- check mark drops underneath once there's enough height
- or when we switch to landscape
------------------------------------------------------- */

@media (max-aspect-ratio: 999/1000) and (min-height: 45em),
       (min-aspect-ratio: 1000/1000) {

    .info {
        -webkit-flex-direction: column;
                flex-direction: column;
        margin-left: 0;
    }

    .check {
        font-size: 3rem;
        margin-left: 0;
        position: static;
        width: auto;
    }

}

/*
- switch to top padding on rooms once there's enough height
- this is to keep room names horizontally alligned when the free/busy message increases the height of .attrs
------------------------------------------------------- */

@media (max-aspect-ratio: 999/1000) and (min-height: 85em),
       (min-aspect-ratio: 1000/1000) and (min-height: 60em) {

    .info {
        -webkit-justify-content: flex-start;
                justify-content: flex-start;
        position: relative;
            top: 25%;
    }

}

/*
- free/busy message jumps up once there's more space
------------------------------------------------------- */

/* vertical stack first */

@media (max-aspect-ratio: 999/1000) and (min-height: 30em),
       (min-aspect-ratio: 1000/1000) and (min-width: 41em) {

    .attrs {
        min-height: 3em;
    }

    .fb > span {
        display: block;
    }

    .fb > span:first-child {
        margin: 0 -1em; /* on a line above the icons so can expand out a bit wider */
    }
}

/* then give it a bit more breathing room */

@media (max-aspect-ratio: 999/1000) and (min-width: 50em) and (min-height: 100em),
       (min-aspect-ratio: 1000/1000) and (min-width: 90em) and (min-height: 45em) {

    .vidyo,
    .size {
        padding: 0.5em;
    }

}

/*
Spread out as we gain the horizontal space
- larger font sizes
- more padding around outside
======================================================= */


@media (max-aspect-ratio: 999/1000) and (min-width: 30em) and (min-height: 50em),
       (min-aspect-ratio: 1000/1000) and (min-width: 70em) and (min-height: 25em) {

    html {
        font-size: 10px;
    }

    #content {
        height: calc(100% - 5rem * 2);
    }

    .title,
    .now {
        height: 5rem;
        font-size: 2.4rem;
    }

}

@media (max-aspect-ratio: 999/1000) and (min-width: 40em) and (min-height: 85em),
       (min-aspect-ratio: 1000/1000) and (min-width: 72em) and (min-height: 35em) {

    html {
        font-size: 12px;
    }


    body {
        padding: 0 5rem;
    }

    #content {
        height: calc(100% - 8rem * 2);
    }

    .title,
    .now {
        height: 8rem;
    }

}

@media (max-aspect-ratio: 999/1000) and (min-width: 50em) and (min-height: 100em),
       (min-aspect-ratio: 1000/1000) and (min-width: 90em) and (min-height: 45em) {

    html {
        font-size: 14px;
    }


    body {
        padding: 0 7rem;
    }

}

@media (max-aspect-ratio: 999/1000) and (min-width: 60em) and (min-height: 115em),
       (min-aspect-ratio: 1000/1000) and (min-width: 115em) and (min-height: 60em) {

    html {
        font-size: 16px;
    }

}

/*
- fullscreen button
======================================================= */

/* Overlay hidden by default. */
#overlay {
    opacity: 0;
    position: absolute;
        bottom: 2rem;
        right: 2rem;
    transition: .4s opacity ease-out;
}

:-webkit-full-screen { cursor: none; }
   :-moz-full-screen { cursor: none; }
         :fullscreen { cursor: none; }

/* Class rules to show the overlay. */
.show-overlay #overlay {
    opacity: 1;
}

.show-overlay {
    cursor: auto;
}

#overlay button {
    background: #000;
    border-radius: 0.5rem;
    border: 0;
    color: #FAFAFA;
    cursor: pointer;
    font-size: 1.5rem;
    padding: 1em 1.5em;
}
